footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: var(--color-bg);
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a{
    background: linear-gradient(135deg, #5e60ce 60%, #48bfe3 100%);
    color: #fff;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    border: none;
    box-shadow: 0 2px 8px rgba(94,96,206,0.12);
    transition: var(--transition);
}

.footer__socials a:hover{
    background: #fff;
    color: #5e60ce;
    box-shadow: 0 4px 16px rgba(94,96,206,0.18);
}

.footer__copyright{
    margin-bottom: 4rem;
    color: var(--color-bg);
}

@media screen and (max-width: 600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials{
        margin-bottom: 2.6rem;
        
    }
}